* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: -apple-system, system-ui, BlinkMacSystemFont,"Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}

header {
    width: 100%;
    height: 25%;
    position: sticky;
    top: 0;
	background: #F5F5F5;
    padding: 1rem 0;
    font-size: 1.5rem;
    color: #484848;
}

#feature > a{
    display: inline-block;
    float: none;
}

#navbar {
    display: block;
}

#navbar a {
	text-decoration: none;
	color: #484848;
    padding: 0 0.5rem;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
}

#navbar a:hover {
    color: steelblue;
}

#navbar a.selected {
	border-radius: 999rem;
	color: white;
    font-weight: bold;
    background: steelblue;
}

.logo-first {
    color: chartreuse;
    font-weight: bold;
}
.logo-last {
    color: tomato;
    font-weight: bold;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
}
.logo-last:hover {
    color: pink;
}

.row{
    overflow-x: auto;
    white-space: nowrap;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #F5F5F5;
}
::-webkit-scrollbar {
	width: 12px;
	background-color: #F5F5F5;
}
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #55555500;
}
:hover::-webkit-scrollbar-thumb,
::-webkit-scrollbar-thumb:hover {
    background-color: #55555550;
}
::-webkit-scrollbar-thumb:active {
    background-color: #55555599;
}

.color-picker-wrapper {
    display: inline-block;
}
.color-picker-wrapper:hover a {
    color: steelblue;
}
input[type="color"] {
	opacity: 0;
    display: inline-block;
    width: 2rem;
    height: 2rem;
	border: none;
}
.painting-area {
    margin-left: auto;
    margin-right: auto;
    resize: none;
    width: 100%;
}
#limit {
    overflow: auto;
    height: 100%;
}
.painting-area canvas {
    padding: 0;
    margin: auto;
    display: block;
    background-color: snow;
    align-self: center;
}

.wrapper {
    display: inline-block;
}
#size-bar {
    display: none;
}
#resize-input,
#text-input,
#font-input {
    font-size: 0.8rem;
    font-weight: bold;
    display: none;
}
#resize-input > input ,
#text-input > input,
#font-input > input {
    background:#ccc; border:0 none;
    -webkit-border-radius: 0.4rem;
    border-radius: 0.4rem;
    outline : none;
    width: 4rem;
    font-weight: inherit;
    text-align: center;
    color: #F5F5F5;
}
#text-input > input {
    width: 6rem;
}
#resize-input > #resize-check:hover,
#text-input > #text-check:hover,
#font-input > #font-check:hover {
    color: tomato;
}
input[type=range] {
    -webkit-appearance: none;
    width: 7rem;
}
input[type=range]::-webkit-slider-runnable-track {
    width: 7rem;
    height: 0.5rem;
    background: #ddd;
    border: none;
    border-radius: 0.4rem;
}
input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: none;
    height: 0.9rem;
    width: 0.9rem;
    border-radius: 50%;
    background: #5f5f5f;
    margin-top: -0.23rem;
    transition: 0.2s; 
    align-self: center;
}
input[type=range]:focus {
    outline: none;
}
input[type=range]:focus::-webkit-slider-runnable-track {
    background: #ccc;
}

input[type="range"]:active::-webkit-slider-thumb:before,
input[type="range"]:active::-webkit-slider-thumb:after
{
    top: 0.3rem;
}
input[type="range"]:active::-webkit-slider-thumb{
    width: 1rem;
    height: 1rem;
}
input[type="range"]:active::-webkit-slider-thumb:after {
    left: 1rem;
}

#painting-area-wrapper {
    height: 75%;
    background-color: powderblue;
    animation-name: colorTrans;
    animation-duration: 30s;
    animation-iteration-count: infinite;
}
@keyframes colorTrans {
    0%   {background-color: powderblue;}
    25%  {background-color: palegreen;}
    50%  {background-color: palevioletred;}
    75%  {background-color: palegreen;}
    100% {background-color: powderblue;}
}